body{
    background-color: beige;
}


.stateTextInfo{
    align-self:  flex-start;
    margin: 3px;
    padding: 6px;
    border: 3px solid darkgray;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: darkgray;
    z-index: 1;
}

.noShow{
    align-self:  flex-end;
    margin: 3px;
    padding: 6px;
    border: 3px solid darkgray;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: darkgray;
    z-index: 1;
    visibility: hidden;
}

.yesShow{
    align-self:  flex-end;
    margin: 3px;
    padding: 6px;
    border: 3px solid darkgray;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: darkgray;
    z-index: 1;
}

.aButton{
    align-self: flex-end;
    padding: 6px;
    margin: 6px;
    /* border: 3px solid darkgray; */
    font-family: 'Bangers', cursive;
    font-size: 30px;
    /* color: darkgray; */
    z-index: 1;
}

.teamSquare{
    width: 300px;
    height: 300px;
    /* position: absolute; */
    background: no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-grow: 1;
}

.innerTeamSquare{
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.gameSpace{
    height: 800px;
    width: 600px;
    font-family: 'Bangers', cursive;
    font-size: 50px;
    color: darkgray;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.infoBar{
    height: 100px;
    text-align: center;
    padding-top: 5px;
    align-content: center;
    align-items: center;
    flex-basis: 100%;
}

.gameSpace{
    height: 400px;
}

